<!-- Announcement Banner -->
<a class="group block bg-gray-950  p-2 text-right  transition-all duration-300 dark:bg-white/[.05] dark:hover:bg-white/[.075]" href="{% url 'manage_blog_list' %}">
    <div class="max-w-7xl mx-auto  px-4 sm:px-6 lg:px-8">
    <span class="inline-flex justify-end items-center gap-x-2 font-semibold text-gray-100 text-sm dark:text-gray-500">
        Editor
        <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </span>
    </div>
</a>
<!-- End Announcement Banner -->