{% extends "base.html" %}
{% block metadata %}
  {% include "components/metadata.html" with title=article.title description=article.subtitle %}
{% endblock metadata %}
{% block content %}
  <!-- Blog Article -->
  <div class="px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
    <div>
      <div class="flex justify-between items-center mb-6">
        <div class="flex w-full sm:items-center gap-x-5 sm:gap-x-3">
          <div class="grow">
            <div class="grid sm:flex sm:justify-between sm:items-center gap-3">
              <div>
                <a class="inline-flex items-center gap-x-1.5 text-sm text-gray-600 decoration-2 hover:underline dark:text-blue-400 py-4"
                   href="{{ request.META.HTTP_REFERER }}">
                  <svg class="w-3 h-3"
                       xmlns="http://www.w3.org/2000/svg"
                       width="16"
                       height="16"
                       fill="currentColor"
                       viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                  </svg>
                  Back
                </a>
                <h2 class="text-3xl font-bold lg:text-4xl dark:text-white mb-4">{{ article.title }}</h2>
                <ul class="text-gray-500">
                  <li class="inline-block relative pr-6 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-2 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
                    {{ article.subtitle|capfirst }}
                  </li>
                  <li class="inline-block relative pr-6 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-2 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
                    {{ article.created_at|date:"F d, Y" }}
                  </li>
                  <li class="underline inline-block relative pr-6 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-2 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
                    {{ article.category.name|capfirst }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Content -->
      <div class="space-y-5 md:space-y-8">{{ article.content.html|safe }}</div>
      <!-- End Content -->
    </div>
  </div>
  <!-- End Blog Article -->
{% endblock content %}
